@{
    ViewData["Title"] = "Accueil";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenue sur notre Entreprise</h1>
        <p class="lead">Créer une candidature spontanée pour vivre une nouvelle aventure.</p>
        <hr class="my-4">
        <p>Apprenez à connaître notre entreprise et explorez les opportunités de carrière.</p>
        <a class="btn btn-success btn-lg" asp-action="CréerCandidat" role="button">Postuler Maintenant</a>
    </div>
</div>
