@{
    ViewData["Title"] = "Succès";
}

<div class="container mt-5">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="display-4 text-success">Félicitations!</h1>
            <p class="lead">Votre candidature a été soumise avec succès.</p>
            <img width="300" src="/succes.jpg" alt="Success Image" class="img-fluid rounded-circle mt-4">
            <p class="mt-3">Nous avons bien reçu votre candidature et nous vous contacterons sous peu.</p>
            <a asp-action="Accueil" class="btn btn-outline-success mt-3">Retour à l'accueil</a>
        </div>
    </div>
</div>
